@import url("https://fonts.googleapis.com/css?family=Germania");
button {
  font-family: 'Germania';
  margin: 10px;
  background-color: rgba(163, 88, 109, 0.2);
  padding: 5px;
  font-weight: bold;
  color: #A3586D;
  font-size: 1em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: #A3586D; }
