@import url("https://fonts.googleapis.com/css?family=Germania");
.Title {
  font-family: 'Germania';
  font-size: 4em;
  padding: 10px 2em;
  margin: 0;
  color: #A3586D; }
  .Title.level-2 {
    font-size: 3em; }
